* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* The emerging W3C standard
   that is currently Firefox-only */
   * {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
  }
  
  /* Works on Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.7);
    border-radius: 20px;
    border: transparent;
  }

.switch {
    margin-left: 80%;
}

body{
    font-family: lato;
    color: rgb(100,100,100);
}

.selected{
  background: violet;
}

@import "./song";
@import "./player";
